body {
  font-family: "Arial";
  /*font-size: 62.5%;*/
  background-color: rgb(244,243,241);
  margin: 0px;
  padding: 0px;
  text-align: center;

}
 /*header*/
header {
  height: 855px;
  /*background-image: url(../images/sunset-resized.jpg);*/
  background: url("../images/sunset-resized.jpg") no-repeat center top;
  opacity: 0.9;
  z-index: 1;
}

.logo {
    padding-top: 22px;
    margin-left: 188px;
    font-size: 50px;
    font-style: normal;
    float:left;
    color: white;
}
.agents{
  padding-top: 39px;
  padding-left: 688px;
  font-size: 18px;
  float: left;
  color: white;
}
.login{
  padding-top: 39px;
  padding-left: 23px;
  font-size: 18px;
  float: left;
  color:white;
}
.sign_up{
  padding-top: 39px;
  padding-left: 43px;
  font-size: 18px;
  float: left;
  color: white;
}
.relax{
  margin-left: 50px;
padding-top: 299px;
font-size: 39px;
color: white;
}
.receive{
  margin-left: 31px;
  padding-top: 5px;
  font-size: 18px;
  color: white;
}
}
#search-form{
  margin-top: 25px;
}
.searchtextbox {
    text-align: left;
    position: relative;
    overflow: hidden;
    margin: 24px auto;
    border-radius: 5px;
    max-width: 640px;
}
.searchtextbox .text {
    margin: 0;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 18px;
    line-height: 18px;
    height: 24px;
    padding: 18px 10px 18px 10px;
    color: #FFF;
    width: 90%;
  }
  .searchtextbox .button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: rgba(103, 221, 171, 1);
    border: none;
    color: #ffffff;
    font-size: 18px;
    height: 60px;
    padding: 18px 10px 18px 10px;
    width: 19%;
}
/*.search-frame {
  margin-top: 30px;
  margin-left: 401px;
  width: 516px;
  height: 58px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  opacity: 0.5;
  font-size: 18px;
  line-height: 47px;
  /*color: white;*/
  /*float: left;
}
.search-button{
      margin-right: 409px;
  margin-top: 30px;
  padding-left: 0;
  width: 121px;
  height: 61  px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  opacity: 0.5;
  font-size: 17px;
  line-height: 47px;
  color:white;
  background-color: green;
}*/
/*total statistic*/
.total{
  z-index: 2;
  position: relative;
  height: 147px;
  width: 1060px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: -85px;
  background: white;
  border:1px solid lightgray;
  border-left-width: 0px;
}
.entity{
  width:264px;
  height: 147px;
  display: inline-block;
  /*line-height: 130px;*/
  text-align: center;
  border-right: 1px solid lightgray;
    border-left-width: 0px;
    float: left;
}
.number{
  margin-top: 44px;
  font-size: 26px;
  font-weight: bold;
}
.name{
  font-size: 13px;
}
p{
  width: 240px;
  height: 7px;
}
/*HOW IT WORKS*/
.firstTitle{
  font-size: 16px;
  margin-top: 80px;
  margin-left: 599px;
  /*width: 1444px;*/
  font-weight: bold;
  text-align: center;
}
.downline{
  height: 3px;
  width: 41px;
  float: none;
  background-color: lightgray;
  margin-top: 20px;
  margin-left: 699px;
}
/*numLine*/
.numLine{
  width: 740px;
  height: 120px;
  text-align: center;
  margin-top: 0px;
  margin-left: 354px;
}
.circle{
  float: left;
  margin-top: 60px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.cirNum{
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -99px;

}
.line{
  height: 1px;
  width: 307px;
  float: left;
  background-color: lightgray;
  margin-top: 80px;

}
/*howItWorkContent*/
.howItWorkContent{
  padding-left: 11px;
  height: 300px;
  width: 1050px;
  margin: 0 auto;
}
.apart{
  float: left;
  width: 258px;
  height: 300px;
  margin-left: 57px;
  margin-right: 28px;
}
.text{
  font-size: 14px;
  font-weight: lighter;
  margin-top: 10px;
  color: gray;
}
#longLine{
  width: 100%;
  margin-top: 40px;
  background-color: lightgray;
  float: left;
}
/*Why Choose Us*/
#whyChooseUs{
  margin-top: 10%;
}
.whyChooseUs{
  text-align: center;
}
.whyChooseUsContent{
  width:1273px;
  height: 400px;
  margin: 0 auto;
  margin-top: 63px;
  text-align: center;
}
.whyChooseUsPanel{
  height: 140px;
  width: 506px;
  /* margin: 0 auto; */
  margin-top: 10px;
  margin-left: 99px;
  padding-right: 6px;
  text-align: left;
  float: left;
}

.whyChooseUsApart{
  margin-left: 78px;
  margin-top: -58px;
}
.why_text{
  margin-top: 14px;
  font-size: 13px;
  font-weight: lighter;
  color: gray;

}
.whyChooseUs img{
   float:left;
   margin-left:10px;
   margin-top:10px;
 }
  #second-longLine{
   width: 100%;
   margin-top: 114px;
   background-color: lightgray;
   float: left;
 }

 .last{

    /*width: 100%;*/
    height: 799px;
    border-bottom: 1px solid #dddddd;
 }
 .tab{
   padding-top: 245px;
 }
 .last .border{
   margin-top: 0px;
   margin-left: 534px;
   width: 370px;
   border: 2px solid gray;
   border-radius: 3px;
 }
 .last .tab button:nth-child(1){
   cursor: pointer;
   background: gray;
   border: none;
   width: 183px;
   height: 62px;
   color: #ffffff;
 }
 .last .tab button:nth-child(2){
   cursor: pointer;
   background: #f4f3f1;
   border: none;
   width: 182px;
   height: 62px;
   font-size: 16px;
   color: #80808f;
 }
 .last p:nth-child(2) {
    text-align: center;
    margin-top: 29px;
    padding-left: 700px;
    font-size: 50px;
    font-weight: bold;
    color: #d6d6d6;
  }
  .last p:nth-child(3) {
    text-align: center;
    margin: 0px auto;
    max-width: 1060px;
    font-size: 19px;
    line-height: 25px;
    color: #80808f;
    width:1060px;
  }
  .last .images {
    text-align: center;
  }
  .last .images img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 162px 27px;
      -webkit-filter: grayscale(1) opacity(0.4);
  }

  footer .footer-top {
      overflow: hidden;
      background: url("../images/sunset-resized.jpg");
      background-size: cover;
      background-position: 0px;
      width: 100%;
      min-height: 100%;
      padding: 110px 0px;
      text-align: center;
      opacity: 0.9;
  }
  footer .footer-top span {
    display: inline-block;
    vertical-align: top;
    font-size: 27px;
    margin: 0px 7px;
    line-height: 53px;
    color: #ffffff;
}
footer .footer-top .searchtextbox {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    width: 640px;
}
/*text and button had been writen before*/

}

.footer-bottom{
  height:70px;
}
#firstButton {
    margin-left: 180px;
}
.footer-bottom input {
    background: transparent;
    border: 0px;
    color: gray;
    margin-top: 25px;
    margin-left: 2px;
    font-size: 15px;
}
.footer-bottom {
  text-align: left;

}
