body {
  font-family: "Arial";
  /*font-size: 62.5%;*/
  background-color: rgb(244,243,241);
  margin: 0px;
  padding: 0px;
  text-align: center;

}
 /*header*/
header {
  height: 855px;
  /*background-image: url(../images/sunset-resized.jpg);*/
  background: url("../images/sunset-resized.jpg") no-repeat center top;
  opacity: 0.9;
  z-index: 1;
}

.logo {
    padding-top: 22px;
    margin-left: 188px;
    font-size: 50px;
    font-style: normal;
    float:left;
    color: white;
}
.agents{
  padding-top: 39px;
  padding-left: 688px;
  font-size: 18px;
  float: left;
  color: white;
}
.login{
  padding-top: 39px;
  padding-left: 23px;
  font-size: 18px;
  float: left;
  color:white;
}
.sign_up{
  padding-top: 39px;
  padding-left: 43px;
  font-size: 18px;
  float: left;
  color: white;
}
.relax{
  padding-top: 299px;
  margin-left: 406px;
  font-size: 39px;
  color: white;
}
.receive{
  padding-top: 5px;
  margin-left: 570px;
  font-size: 18px;
  color: white
}
#search-form{
  margin-top: 25px;
}
.search-frame {
  padding-top: 10px;
  margin-left: 401px;
  width: 516px;
  height: 50px;
  border-radius: 5px;
  border: none;
  opacity: 0.5;
  font-size: 18px;
  line-height: 47px;
  color: white;
  float: left;
}
.search-button{
  padding-top: 10px;
  padding-left: 0;
  width: 121px;
  height: 61px;
  border-radius: 5px;
  border: none;
  opacity: 0.5;
  font-size: 17px;
  line-height: 47px;
  color:white;
  background-color: green;
}
/*total statistic*/
.total{
  z-index: 2;
  position: relative;
  height: 147px;
  width: 1060px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: -85px;
  background: white;
  border:1px solid lightgray;
  border-left-width: 0px;
}
.entity{
  width:264px;
  height: 147px;
  display: inline-block;
  /*line-height: 130px;*/
  text-align: center;
  border-right: 1px solid lightgray;
    border-left-width: 0px;
    float: left;
}
.number{
  margin-top: 44px;
  font-size: 26px;
  font-weight: bold;
}
.name{
  font-size: 13px;
}
p{
  width: 240px;
  height: 7px;
}
/*HOW IT WORKS*/
.firstTitle{
  font-size: 16px;
  margin-top: 80px;
  width: 1444px;
  font-weight: bold;
  text-align: center;
}
.downline{
  height: 3px;
  width: 41px;
  float: none;
  background-color: lightgray;
  margin-top: 20px;
  margin-left: 699px;
}
/*numLine*/
.numLine{
  width: 740px;
  height: 120px;
  text-align: center;
  margin-top: 0px;
  margin-left: 354px;
}
.circle{
  float: left;
  margin-top: 60px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgray;
}
.cirNum{
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -99px;

}
.line{
  height: 1px;
  width: 307px;
  float: left;
  background-color: lightgray;
  margin-top: 80px;

}
/*howItWorkContent*/
.howItWorkContent{
  height: 300px;
  width: 1050px;
  margin: 0 auto;
}
.apart{
  float: left;
  width: 258px;
  height: 300px;
  margin-left: 57px;
  margin-right: 28px;
}
.text{
  font-size: 14px;
  font-weight: lighter;
  margin-top: 10px;
  color: gray;
}
#longLine{
  width: 100%;
  margin-top: 41px;
  background-color: lightgray;
  float: left;
}
/*Why Choose Us*/
#whyChooseUs{
  margin-top: 10%;
}
.whyChooseUs{
  text-align: center;
}
.whyChooseUsContent{
  width:1150px;
  height: 400px;
  margin: 0 auto;
  margin-top: 111px;
  text-align: center;
}
.whyChooseUsPanel{
  height: 140px;
  width: 455px;
  /*margin: 0 auto;*/
  margin-top: 10px;
  margin-left: 120px;
  text-align: left;
  float:left;
}

.whyChooseUsApart{
  margin-left: 0px;
  margin-top: -58px;
}
.why_text{
  margin-top: 14px;
  font-size: 13px;
  font-weight: lighter;
  color: gray;

}
.whyChooseUs img{
   float:left;
   margin-left:10px;
   margin-top:10px;
 }



footer {

}
